.column {
    height: 100%;
    border: double green;
}

.left {
    width: 1fr;
}

.right {
    width: 3fr;
}

.row {
    width: 100%;
    border: heavy green;
}

.top {
    height: 9fr;
}

.bottom {
    height: 1fr;
}

GRApp TabbedContent {
    height: 100%;
    ContentSwitcher {
        height: 100%;
        TabPane {
            height: 100%;
        }
    }
}

ChatBox {
    border: round purple;
}
